.feed_list_bar {
  font-size: 15px;
  margin-bottom: 30px;
}
.feed_list_bar .feed_list_bar_left {
  position: relative;
  cursor: pointer;
  float: left;
}
.feed_list_bar .feed_list_bar_right {
  float: right;
}
i {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: sub;
}
i img {
  width: 100%;
  height: 100%;
}
.feed_all_logo {
  margin-right: 3px;
}
.feed_down_logo {
  margin-left: 3px;
}
.feed_list_bar_right div {
  float: left;
  margin-left: 10px;
  font-size: 15px;
}
.feed_right_font {
  margin-left: 7px;
}
.feed_right_good_logo {
  background: url("../images/复选框.png");
  background-size: 100% 100%;
}
.feed_right_bad_logo {
  background: url("../images/复选框 (1).png");
  background-size: 100% 100%;
}
.zuo-feed {
  min-height: 815px;
  margin-bottom: 18px;
  background-color: #fff;
  z-index: 400;
  position: relative;
}
.zuo-feed:hover .feed-content {
  box-shadow: 0 5px 10px #808080;
}
.zuo-feed:hover .zuo-feed_top {
  box-shadow: 0 -2px 10px #808080;
}
.feed-body:hover .feed-meng {
  opacity: 0.3;
}
.zuo-feed:hover .feed-halo {
  transform: scale(1.1);
  border: 3px solid #1fd7e2;
}
.zuo-feed:hover .halo-text-box {
  opacity: 1;
}
.feed-meng {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1100;
  opacity: 0;
  transition: all 0.3s;
}
.zuo-feed_top {
  padding: 10px 18px;
  height: 40px;
  position: relative;
  z-index: 1300;
}
.zuo-feed_top .zuo-feed-top-inner {
  height: 100%;
}
.zuo-feed_top .zuo-feed-top-inner .owner-info {
  float: left;
  height: 100%;
}
.zuo-feed_top .zuo-feed-top-inner .owner-info .owner-avatar {
  position: relative;
  height: 100%;
  float: left;
}
.zuo-feed_top .zuo-feed-top-inner .owner-info .owner-avatar img {
  height: 100%;
  border-radius: 50%;
}
.zuo-feed_top .zuo-feed-top-inner .owner-info .owner-name {
  margin-top: 10px;
  padding-left: 10px;
  float: left;
}
.zuo-feed_top .zuo-feed-top-inner .owner-info .owner-name a {
  font-size: 14px;
  font-weight: 500;
  color: #272c2f;
  text-decoration: none;
}
.zuo-feed_top .zuo-feed-top-inner .feed-right-actions {
  margin-top: 10px;
  float: right;
}
.feed-right-actions-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #e1e2e2;
  text-align: center;
  line-height: 18px;
}
.feed-right-actions-icon img {
  width: 14px;
  height: 12px;
}
.feed-like-count {
  padding-right: 18px;
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #959697;
}
.comment-list {
  list-style: none;
  padding: 0;
}
.feed-body {
  position: relative;
}
.feed-share-toggle {
  display: inline-block;
  width: 17px;
  height: 17px;
  padding-right: 18px;
  cursor: pointer;
}
.feed-share-toggle img {
  display: block;
  margin-top: 2px;
  width: 100%;
  height: 100%;
}
.icon-iconhomemore {
  position: relative;
  cursor: pointer;
}
.icon-iconhomemore img {
  width: 20px;
  height: 15px;
}
.dropdown-menu {
  padding: 10px 0;
  min-width: 100px;
  margin-top: 8px;
  position: absolute;
  top: 100%;
  left: -45px;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  font-size: 14px;
  background-color: #fff;
  display: none;
}
.cuser-dropdown-item {
  padding: 0 10px;
}
.dropdown-arrow {
  position: absolute;
  width: 13px;
  height: 13px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  background-color: #fff;
  transform: rotate(45deg);
  margin-left: -5px;
  top: -7px;
  left: 50%;
}
.report-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #a6a7a7;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
}
.report-link:hover {
  background-color: #f5f5f5;
}
.feed-body-img {
  width: 100%;
  height: auto;
}
.feed-content {
  padding: 18px 0 0;
}
.feed-content .feed-text {
  font-size: 14px;
  line-height: 22px;
  padding: 0 25px 18px;
  color: #595c5d;
}
.feed-content .feed-tags {
  padding-left: 25px;
  padding-right: 25px;
}
.feed-content .feed-tags .icon-tag {
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid transparent;
  border-radius: 50%;
  vertical-align: middle;
}
.feed-content .feed-tags span {
  margin-left: 10px;
  font-size: 14px;
}
.feed-content .feed-info {
  margin: 0 auto;
  padding-top: 18px;
  padding-bottom: 3px;
  margin-top: 10px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  width: 93%;
}
.feed-content .feed-info span {
  padding-left: 8px;
  color: #a6a7a7;
  cursor: pointer;
  font-size: 14px;
  cursor: pointer;
}
.feed-content .add-comment {
  color: #f00;
}
.icon-tag-name {
  color: #a6a7a7;
  margin-right: 10px;
  cursor: pointer;
}
.icon-tag-name:hover {
  color: #665e55;
}
.feed-info-icon-message {
  width: 20px;
  height: 20px;
}
.feed-info-icon-message img {
  width: 100%;
  height: 100%;
}
.add-body {
  padding-left: 25px;
  padding-right: 25px;
}
.new-comment {
  width: 100%;
  outline: 0;
  border: none;
  padding: 18px 10px 18px 2px;
  font-size: 14px;
  line-height: 20px;
}
.feed-halo {
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  margin-top: -60px;
  margin-left: -60px;
  z-index: 1200;
  border: 2px solid #1fd7e2;
  border-radius: 50%;
  transition: all 0.3s;
}
.halo-text-big {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.halo-text-small {
  color: #fff;
}
.halo-text-box {
  width: 70px;
  height: 56px;
  margin: 0 auto;
  margin-top: -95px;
  text-align: center;
  opacity: 0;
}
.animated-pop {
  border: 1px solid #1fd7e2;
  border-radius: 50%;
  background-color: rgba(31,217,255,0.2);
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: animatepop 1s infinite;
}
.comment-list {
  list-style: none;
  margin: 0;
  margin-top: 9px;
  margin-bottom: 7px;
  border-radius: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
.comment-list a {
  font-size: 12px;
  font-weight: 600;
  color: #272c2f;
  text-decoration: none;
}
.comment-list span {
  font-size: 12px;
  color: #595c5d;
  word-break: break-word;
}
.comment-list:hover {
  background-color: #f7f7f9;
}
.comment-list:hover .replayComment {
  display: block;
}
.comment-actions {
  padding-top: 3px;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
}
.time {
  color: #c9c9c9;
  font-size: 8px;
  padding: 0;
  float: left;
}
.liketext {
  float: right;
  font-size: 8px;
  color: #a1a2a3;
  cursor: pointer;
}
.liketext img {
  width: 14px;
  height: 15px;
  vertical-align: middle;
}
.replayComment {
  float: right;
  margin-right: 20px;
  color: #a9b2c0;
  display: none;
  cursor: pointer;
}
.comment-textarea {
  min-height: 100px;
  width: 100%;
  outline: 0;
  border: none;
  padding: 18px 10px 18px 2px;
  font-size: 14px;
  line-height: 20px;
}
.add_comment_actions {
  overflow: hidden;
  padding: 15px;
}
.cancel-new-comment {
  float: left;
  cursor: pointer;
  font-size: 13px;
  color: #000;
}
.post-new-comment {
  float: right;
  cursor: pointer;
  font-size: 13px;
  color: #000;
}
#report {
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100000;
}
#report1 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  z-index: 100001;
}
#report1>div {
  position: relative;
  width: 540px;
  height: 157px;
  margin: 300px auto;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}
#report1>div>div:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  line-height: 80px;
}
#report1>div>div:nth-child(2) {
  width: 460px;
  margin: 0 auto;
}
#report1>div>div:nth-child(2) a {
  text-decoration: none;
  color: #fff;
  padding: 0 90px;
}
#report1>div>div:nth-child(2)>div:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  background-color: #a9b2c0;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  float: left;
  cursor: pointer;
}
#report1>div>div:nth-child(2)>div:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  background-color: #00dbe5;
  text-align: center;
  line-height: 50px;
  border-radius: 5px;
  float: left;
  margin-left: 20px;
  cursor: pointer;
}
.dropdown-menu-wrap {
  position: absolute;
  top: 25px;
  min-width: 80px;
  display: none;
  z-index: 2500;
  left: -15px;
  padding: 5px 10px;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.dropdown-menu-wrap .scene-menu-item {
  border-bottom: 1px solid #ececec;
  padding: 5px 0;
}
.dropdown-menu-wrap .scene-menu-item .change-secne-link {
  padding: 10px 15px;
  text-decoration: none;
  color: #a6a7a7;
  font-weight: 500;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.dropdown-menu-wrap .scene-menu-item .change-secne-link div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.dropdown-menu-wrap .scene-menu-item .change-secne-link span {
  margin-right: 5px;
  vertical-align: middle;
}
.downloadALl {
  width: 14px;
  height: 14px;
}
.change-secne-link:hover {
  background-color: #f5f5f5;
}
.color1 {
  background-color: #e8cca4;
}
.color2 {
  background-color: #8ae800;
}
.color3 {
  background-color: #ff2c3c;
}
.color4 {
  background-color: #600016;
}
.color5 {
  background-color: #c100ff;
}
.color6 {
  background-color: #ff9100;
}
.color7 {
  background-color: #008f7c;
}
.color8 {
  background-color: #ffeb00;
}
.color9 {
  background-color: #00c1f9;
}
.dropdown-menu-jiao {
  position: absolute;
  width: 13px;
  height: 13px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 0;
  border-bottom: 0;
  background-color: #fff;
  transform: rotate(45deg);
  margin-left: -5px;
  top: -7px;
  left: 50%;
}
.zuo-detail-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: rgba(39,44,47,0.9);
}
@-moz-keyframes animatepop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-webkit-keyframes animatepop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@-o-keyframes animatepop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes animatepop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
