.feed_list_bar
  font-size 15px
  overflow hidden
  margin-bottom 30px
  .feed_list_bar_left
    cursor pointer
    float left
  .feed_list_bar_right
    float right
i
  display inline-block
  width 16px
  height 16px
  vertical-align sub
  img
    width 100%
    height 100%
.feed_all_logo
  margin-right 3px
.feed_down_logo
  margin-left 3px
.feed_list_bar_right
  div
    float left
    margin-left 10px
    font-size 15px
.feed_right_font
  margin-left 7px
.feed_right_good_logo
  background url("../images/复选框.png")
  background-size 100% 100%
.feed_right_bad_logo
  background url("../images/复选框 (1).png")
  background-size 100% 100%
