//热门标签
.hotCommend
  width 220px
  border 1px solid black
.hotTags>p
  font-size 14px
  font-weight 500
  color #272c2f
.hotTags>a
  display inline-block
  text-decoration none
  color #999b9c
  border-radius 4px
  font-size:14px
  padding 6px 10px
  margin-right 10px
  margin-bottom 10px
  background-color #eaeced
  transition-duration 0.3s
.hotTags>a:hover{
  color white
  background-color darkgray
}
//推荐关注
.commend-introduction
   border-bottom 1px solid #e4e4e5
   margin-bottom 10px
.commend-title
  text-decoration none
  font-size 14px
  color #272c2f
  font-weight 500
.commend-title:hover
  color #999a9a
.commend-introduction::after
  content ''
  display table
  clear both
.commend-introduction>div,.commend-introduction img
  float left
.commend-introduction>div>a{
  display block
  margin-bottom 10px
}
.commend-content
  display inline-block
  width 144px
  height 33px
  text-decoration none
  font-size 12px
  color #999a9a
.commend-content:hover
  color #272c2f
.commend-introduction img
  border-radius 4px
  margin-left 34px
  transition-duration 0.3s
  transition-property background-color
  cursor pointer
  border 1px solid #e4e4e5
.commend-Img
  position relative
.commendImg-mask
  width 40px
  height 40px
  background-color black
  opacity 0.3
  display none
  border-radius 4px
  position absolute
  top 0
  left -40px
.commend-Img:hover .commendImg-mask
  display block
  cursor pointer
//热门标签二级页面--搜索
.hotTagsContainer
  width 930px
  margin 0 auto
  border 1px solid black
.hotSearch
  width 100%
  height 120px
  background-color rgb(255,255,255)
.hotSearch-title>img
  vertical-align middle
.hotSearch-title span
  font-size 18px
  font-weight 500
  color #272c2f
  display inline-block
  padding-left 8px
.hotSearch-title
  line-height 60px
.hotSearch-content>span
  width 10px
  height 10px
  background-color #1fd7e2
  border-radius 50%
  display inline-block
  margin-left 8px
.hotSearch-content a
  font-size 14px
  text-decoration none
  color #a6a7a7
  padding-left 14px
//热门标签二级页面--相关深度阅读
.hotArticle-title
  display inline-block
  height 88px
  line-height 88px
  font-size 20px
  font-weight 700
  width 930px
  text-align center
.hotArticle-Img
   width 219px
   height 180px
   border-radius  4px
   position relative
   overflow hidden
.hotArticle-Img img
  position absolute
  left 0
  top -73px
.hotArticle-mask
   background-color black
   width 219px
   height 180px
   opacity 0.4
   position absolute
   top 0
   left 0
.hotArticle-content
  display inline-block
  width 183px
  margin-left 10px
  text-decoration none
  font-size 16px
  color #fff
  position absolute
  top 63px
  left 0
.hotArticle-Img p
  width 183px
  height 18px
  margin-left 10px
  font-size 12px
  color rgba(255,255,255,0.6)
  overflow: hidden
  position absolute
  left:0
  top:148px
