.topic-page
  width: 790px;
  margin: 0 auto;
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  .topic_left
    float left
    width 540px
  .topic_right
    float right
    width 220px
    margin-left 26px
.topic-detail-info
  padding: 30px;
  border-radius: 4px;
  background-color: #fff
.tip
  color: #272c2f
  .tip-title
    font-size 14px
  .tip-divider
    width: 20px;
    height: 5px;
    border-radius: 6px;
    background-color: #F8D440;
    margin-top: 10px;
.topic-title
  font-size: 22px;
  margin-bottom: 18px;
  margin-top: 18px;
.topic-other-info
  font-size: 12px;
  color: #A6A7A7;
.vertical-line
  padding 0 8px
.topic-cover
  margin-top: 30px
  margin-bottom: 30px
  img
    width 100%
.topic-content
  font-size: 16px;
  line-height: 30px;
  color: #535557;
  p
    margin 30px 0
.star-action
  margin-top: 18px;
  color: #A6A7A7;
  line-height: 20px;
  overflow hidden
  .star-text
    float right
    font-size 14px
    cursor pointer
    img
      vertical-align middle
      margin-right 10px
.topic-detail-comments
  margin-top 30px
.comment-header
  padding-bottom: 18px;
  font-size: 14px;
  font-weight: 500;
.topic-comments-list
  padding-bottom: 20px;
  width: 100%;
  max-width: 540px;
  position: relative
.topic-comment-item
  padding-top: 18px;
  border-top: 1px solid #DDDDDE
.author-avatar>img
  width 40px
  height 40px
  border-radius 50%
.topic-comment-body
  padding-left 58px
.topic-comment-top
  overflow hidden
  .author-avatar
    float left
    margin-right 30px
.right-info
  margin-top 10px
  overflow hidden
  .author-other
    color: #a6a7a7
    font-size 12px
    float left
    cursor pointer
  .comment-time
    float right
    font-size: 12px;
    color: #6F7274;
.body-inner
  padding-top: 8px;
  padding-bottom: 18px;
.topic-comment-text
  font-size: 14px;
  line-height: 22px;
.img-item>img
  height auto
  width 73px
.img-item
  margin-top 18px
.topic-comment-actions
  line-height: 20px;
  color: #535557;
  margin-top 18px
  overflow hidden
  div
    float left
    margin-right 20px
    cursor pointer
    font-size 14px
    img
      vertical-align middle
      margin-right 5px
.topic-comment-text1
  font-size 14px
.topic-comments-list-child
  margin-top 20px
.topic-comment-item
  padding-top: 18px;
  border-top: 1px solid #DDDDDE;
.item-inner
  padding-top: 8px;
  padding-bottom: 18px
.author-avatar-child>img
  width 30px
  height 30px
.topic-comment-text-child
  font-size 14px
  line-height 22px
.topic-comment-text-child>a
    text-decoration none
    color: #272c2f;
    font-weight: 700
.load-more-child-comments
  font-size: 13px;
  color: #535557
  cursor pointer
.item-inner-child
  margin-top 8px
.load-more-topic-comments
  padding-top: 30px;
  border-top: 1px solid #DDDDDE
.load-more-topic-comments>div
  width 97px
  padding: 10px 15px;
  font-size: 14px;
  color: #272c2f;
  border: 1px solid #DDDDDE;
  border-radius: 4px;
  margin 0 auto
  cursor pointer
.need-login-tip
  margin-top 50px
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  color: #272c2f;
  background-color: #DFDFE0;
  border-radius: 4px;
  text-align: center;
  img
    width 16px
    height 16px
    vertical-align middle
    margin-right 5px